{% extends 'base.html' %}
{% load static %}
{% block encabezado %}
<a href="{% url 'escuelas_alta' %}"><img src="{%static 'images/plus.png'%}" alt=""></a>
{% endblock %}
{% block principal %}
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-dark-grey">
        <th>acciones</th>
        <th>nombre</th>
        <th>siglas</th>
      </tr>
    </thead>
    {% for escuela in escuelas %}
    <tr>
        <td><a href="{% url 'escuelas_editar' escuela.id %}"><img src="{%static 'images/edit.png'%}" alt=""></a>
        <a href="{% url 'escuelas_eliminar' escuela.id %}"><img src="{%static 'images/basura.png'%}" alt=""></a></td>
        <td>{{ escuela.nombre }}</td>
        <td>{{ escuela.siglas }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}